body{
    font-family: 'Poppins';
    margin: 0;
    padding: 0;
}
#header{
    background:linear-gradient(100deg, #fff 50%, #F6B400 50%);
    height: 700px;
}
.logo{
    font-size: 50px;
    position: relative;
    display:flex;
    align-items: center;
    margin-left: 10px;
}
.logo span{
    color: #F6B400;
}
.logo p{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.nav-tab {
    position: relative;
    margin-left: 265px;
}
.nav-tab a{
    text-decoration: none;
    color: #000;
    font-size: 20px;
    float: left;
    margin-left: 50px;
}
.nav-tab hr{
    height: 10px;
    border: none;
    background: #F6B400;
    width: 50px;
}
.intro{
    margin-left: 50px;
    margin-top: 100px;
    font-size: 20px;
    
}
.intro p{
    color: darkslategray;
}
.intro button{
    background-color: #F6B400;    
    padding: 15px 25px;
    margin: 80px 40px;
    border: 5px;
    border-radius: 40px 20px 0 40px;
}
.order {
    width: 100%;
}
.order a{
    text-decoration: none;
    color: white;
    font-size: 20px;
}
.order img{
    height: 500px;
    position: relative;
    float: right;
    margin-top: -300px;
    margin-right: 230px;
}
.delivery{
   width: 100%;
   height: 700px;
   background-color:ghostwhite;
   align-content: center;
   display: flex;
}
.quality1{
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 300px;
    border: 1px solid brown;
    border-radius: 10px;
    margin-left: 100px;
    margin-top: 250px;
    text-align: center;
}
.quality2{
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 350px;
    border: 1px solid brown;
    border-radius: 10px;
    margin-left: 60px;
    margin-top: 220px;
    text-align: center;
}
.delivery .material-icons{
    color: #F6B400;

}
.quality1 h1, .quality2 h1{
    color: brown;
}
.menu {
    width: 100%;
    height: 1300px;
    margin-top: 200px;
    position: relative;
}
.menu h1{
    text-align: center;
    margin: 0;
}
.menu hr{
    height: 15px;
    border: none;
    background: #F6B400;
    width: 80px;
}
.menu span{
    color: #F6B400;
}
.burger-pics{
    align-content: center;
    width: 310px;
    height: 530px;
    float: left;
    border-radius: 40px;
    margin-left: 100px;
    margin-top: 50px;
    text-align: center;
    box-shadow: 3px 3px 6px 3px rgb(222, 222, 228);
}
.slant{
    width: 150px;
    height: 150px;
    position: absolute;
    top: 120px;
    right: 850px;
    overflow: hidden;
}
.slant span{
    width: 225px;
    padding: 15px 0;
    background-color: #F6B400;
    display: block;
    position: relative;
    top: 30px;
    left: -25px;
    transform: rotate(45deg);
    text-align: center;
    text-emphasis: strong;
}
.burger-pics img{
    height: 200px;
    margin-top: 40px;
}
.burger-pics h1{
    color: brown;
}
.burger-pics h3{
    float: left;
    margin-left: 30px;
}
.burger-pics button{
    border: none;
    border-radius: 20px;
    padding: 15px 30px 15px 30px;
    float: right;
    margin-right: 30px;
    background-color: #E1EBE6;
}
.burger-pics span{
    color: black;
}
.doubled{
    background-color: ghostwhite;
    width: 100%;
    height: 1000px;
}
.doubled h1{
    margin-left: 100px;
    padding-top: 200px;
    font-size: 50px;
}
.doubled span{
    color: #F6B400;
}
.doubled p{
    margin-left: 100px;
    color: darkslategray;
    font-size: 20px;
}
.slide {
    cursor: pointer;
    height: 30px;
    width: 30px;
    margin: 0 25px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    
}
.slide:hover{
    background-color: #F6B400;
}
.move{
    cursor: progress;
    font-size: 80px;
    color: #F6B400;
}
.check1 {
    height: 500px;
    position: relative;
    float: right;
    margin-top: -420px;
    margin-right: 250px;
}
.check2 {
    height: 500px;
    position: relative;
    float: right;
    margin-top: -300px;
    margin-right: 100px;
}
.discover{
    width: 100%;
    height: 900px;
    background-color: #F6B400;
    font-size: 20px;
    margin-top: -30px;
    padding: 0;
    position: relative;
}
.discover h1{
    margin-left: 100px;
    padding-top: 30%;
    font-size: 50px;
}
.store1{
    padding-left: 150px;
}
.phone1{
    height: 500px;
    position: relative;
    float: right;
    margin-top: -420px;
    margin-right: 100px;
    background-color: white;
    border-radius: 30px;
    box-shadow: 0 30px 150px;
    
}
.phone2{
    height: 500px;
    position: relative;
    float: left;
    margin-top: -420px;
    margin-left: 680px;
    background-color: white;
    border-radius: 30px;
    box-shadow: -5px 30px 150px;
}
.footer{
    height: 300px;
    background-color: ghostwhite;
    width: 100%;
    margin-top: -60px;    
}
.footer-nav{
    position: relative;
    display:flex;
    margin-left: 40px;
    margin-top: 60px;    
}
.footer-nav1{
    font-size: 50px;
    position: relative;
    display:flex;
    align-items: center;
    margin-left: 40px;
    margin-top: 60px;
}
.footer-nav1 span{
    color: #F6B400;
}
.footer-nav2{
    margin-left: 60px;
}
.footer-nav2 h2{
    margin-bottom: -20px;
}
.footer-nav2 ul{
    list-style-type: none;
    padding: 5px;
}
.subscribe{
    margin-left: 300px;
    margin-top: 50px;
}
.subscribe input{
    height: 47px;
    width: 300px;
    border-radius: 10px;
    border-width: 1px;
}
.subscribe button{
    border: none;
    padding: 15px 30px 15px 30px;
    float: right;
    margin-right: 30px;
    background-color: #F6B400;
}
.subscribe a{
    text-decoration: none;
    color: white;
    font-size: 20px;
}
.footer-credit{
    font-size: 15px;
    position: relative;
    display:flex;
    margin-top: 5px;
    align-items: center;
}   
.copyright{
    margin-left: 90px;
}
.social{
    margin-left: 200px;
    color: grey;
}
.design{
    margin-left: 450px;
}