body{
    font-family: Poppins;
    margin: 0;
    padding: 0;
}
#header{
    background:linear-gradient(100deg, #fff 50%, #F6B400 50%);
    height: 400px;
}
.logo{
    font-size: 50px;
    position: relative;
    display:flex;
    align-items: center;
}
span{
    color: #F6B400;
}
.nav-tab ul{
    list-style: none;
    position: relative;
}
.nav-tab li{
    float: right;
    width: 100px;
    margin: 0px;
    padding: 0px;
}
.img1 img{
    padding: 0%;
    margin: 0%;
    height: 300px;
    float: right;
    position: relative;
}